
body {
  background-color: powderblue;
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: blue;
  background-image:url(../images/horizontal.jpg);
  background-repeat: repeat-x;
  font-family: "Lora", serif;
  font-style: italic;
}
ul {
	list-style-type: circle;
}
h2 {
  background-image:url(../images/horizontal.jpg);
  background-repeat: repeat-x;
  font-family: "Lora", serif;
  font-style: italic;
}
p {
  color: red;
}
a {
	color:orange;
}
nav ul li{
	list-style-type: none;
	
}
nav ul li a {
	color:#ff00ff;
	text-decoration: none;
	
}
#page-copyright{
	color:#ffaa00;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.byline{
	color:#ffcc00;
	font-size: 70%;
}

.bio p{
	text-indent: 3em; 
}
footer{
	text-align: center;
	font-size: 12px;
}